{% if include.lang and include.lang != empty %}
  {% assign plang = include.lang %}
{% else %}
  {% assign plang = page.lang | default: site.lang | default: "en" %}
{% endif %}
{% assign splang = plang | truncate: 2, "" %}
{% if plang != "en" %}
  {% assign dateformat = site.data.i18n.[plang].date.format | default: site.data.i18n.[splang].date.format | default: "%b %-d, %Y" %}
  {% comment %} The dateformat is determined based on the language. Now replace required variables (for now we ignore time based variables (%p, %P)) {% endcomment %}
  {% assign num_month = include.date | date: "%-m" | minus: 1 %}
  {% assign num_day = include.date | date: "%w" | plus: 0 %}
  {% assign i18n_dateformat = dateformat %} 
  {% if site.data.i18n.[plang].date.abbr_day_names[num_day] %}
    {% assign i18n_dateformat = i18n_dateformat | replace:"%a", site.data.i18n.[plang].date.abbr_day_names[num_day] %}
  {% elsif site.data.i18n.[splang].date.abbr_day_names[num_day] %}
    {% assign i18n_dateformat = i18n_dateformat | replace:"%a", site.data.i18n.[splang].date.abbr_day_names[num_day] %}
  {% endif %}
  {% if site.data.i18n.[plang].date.day_names[num_day] %}
    {% assign i18n_dateformat = i18n_dateformat | replace:"%A", site.data.i18n.[plang].date.day_names[num_day] %}
  {% elsif site.data.i18n.[splang].date.day_names[num_day] %}
    {% assign i18n_dateformat = i18n_dateformat | replace:"%A", site.data.i18n.[splang].date.day_names[num_day] %}
  {% endif %}
  {% if site.data.i18n.[plang].date.abbr_month_names[num_month] %}
    {% assign i18n_dateformat = i18n_dateformat | replace:"%b", site.data.i18n.[plang].date.abbr_month_names[num_month] %}
  {% elsif site.data.i18n.[splang].date.abbr_month_names[num_month] %}
    {% assign i18n_dateformat = i18n_dateformat | replace:"%b", site.data.i18n.[splang].date.abbr_month_names[num_month] %}
  {% endif %}
  {% if site.data.i18n.[plang].date.month_names[num_month] %}
    {% assign i18n_dateformat = i18n_dateformat | replace:"%B", site.data.i18n.[plang].date.month_names[num_month] %}
  {% elsif site.data.i18n.[splang].date.month_names[num_month] %}
    {% assign i18n_dateformat = i18n_dateformat | replace:"%B", site.data.i18n.[splang].date.month_names[num_month] %}
  {% endif %}
  {{ include.date | date: i18n_dateformat }}
{% else %}
  {{ include.date | date: "%b %-d, %Y" }}
{% endif %}
