<!--
You can specify additional content for head here. Here are some examples.

<link href="{{ "/favicon.png" | relative_url }}" rel="icon">
<link href="{{ "/apple-touch-icon.png" | relative_url }}" rel="apple-touch-icon">
<link href="{{ "/apple-touch-icon-76x76.png" | relative_url }}" rel="apple-touch-icon" sizes="76x76">
<link href="{{ "/apple-touch-icon-120x120.png" | relative_url }}" rel="apple-touch-icon" sizes="120x120">
<link href="{{ "/apple-touch-icon-152x152.png" | relative_url }}" rel="apple-touch-icon" sizes="152x152">
<link href="{{ "/apple-touch-icon-180x180.png" | relative_url }}" rel="apple-touch-icon" sizes="180x180">
-->
