---
layout: default
---
<div class="home">

  <h1 class="page-heading">Archive of {{ page.type }} '{{ page.title | escape }}'</h1>

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-archives">
    {% for post in page.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li>
        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.categories != empty or post.tags != empty %}
            {% include category_links.html categories=post.categories tags=post.tags %}
          {% endif %}
          {% if post.external-url %}
            • <a href="{{ post.url | relative_url }}">Permalink</a>
          {% endif %}
        </span>

        <h2>
          {% if post.external-url %}
            <a class="post-link" href="{{ post.external-url }}">{{ post.title | escape }} &rarr;</a>
          {% else %}
            <a class="post-link" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ post.title | escape }}</a>
          {% endif %}
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
